.header-row {
	background: #222222;
    position: relative;
    text-transform: uppercase;
}
.logo-inner {
	float: left;
}
.menu-inner {
	float: right;
}
.logo-inner:after {
	content: "";
	display: block;
	clear: both;
}
.resp-menu {
	display: none;
}
@media only screen and (max-width: 1180px) and (min-width: 0px) {
    .logo-inner, .menu-inner {
		width: 100%;
    }
    .menu-inner {
    	border-bottom: 1px solid #eee;
    	text-align: center;
    	line-height: 0.85;
	}
}
@media only screen and (max-width: 768px) and (min-width: 0px) {
    .menu-inner {
		display: none !important;
	}
	.resp-menu {
		display: block !important;
	}
}