.instagram-line {
	width: 100%;
}
.insta-items {
	width: 16.6%;
	float: left;
}
.insta-items img {
	width: 100%;
	height: auto;
	vertical-align: middle;	 
}
.insta-items a:hover {
	opacity: 0.85;
}
.footer-inside {
	margin: 0 auto;
	width: 1200px;
}
.footer-widget {
    width: 33.3%;
    padding: 30px 0 45px 0px;
    margin: 25px auto 0;
	text-align: center;
}
.footer-widget h3 {
	font-family: 'Lora', sans-serif;
	font-style: italic;
	font-weight: normal;
    line-height: 120%;
	font-size: 18px;
	letter-spacing: 1px;
	color: #333;
	text-align: center;
	margin-bottom: 10px;
}
.footer-social {
	padding-top: 15px;
}
@media only screen and (max-width: 1520px) and (min-width: 0px) {
	.footer-top {
		width: 95% !important;
	    padding-left: 5%;		
	}
	.footer-inside {
		width: 100% !important;
	}
}
@media only screen and (max-width: 720px) and (min-width: 0px) {
	.footer-widget {
		width: 100% !important;
	}
}
@media screen and (max-width: 640px) and (min-width: 0px) {
	.insta-items {
		width: 50% !important;
	}
}