* {
	box-sizing: border-box;
}

body {
/*	font-family: 'Lora', serif;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	background: #efefef;
	max-width: 1500px;
    margin: 0 auto;
    box-shadow: 0 0 9px 9px rgba(195,195,195,.14);
    min-height: 100%;
    line-height: 2em;
}
a {
	transition: all 0.25s ease-in-out;
}
.wrap:after {
	content: "";
	display: block;
	clear: both;
}