.btn-posts-nav {
    width: 49.1%;
    background-color: #f6f6f6;
    color: #000;
    margin: 0 0.9% 10px 0;
}
.btn-posts-nav label {
    display: block;
    height: 50px;;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
    padding: 0;
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
}
.btn-posts-nav p {
    line-height: 50px;
}
.btn-posts-nav input {
    display: none;
}
.checked, .btn-posts-nav label:hover {
	background: #222;
    color: #fff;
}
@media screen and (max-width: 620px) and (min-width: 0px) {
    .btn-posts-nav {
        width: 100%;
        margin-right: 0;
    }
}