main {
	width: 100%;
	padding-bottom: 30px;
	background-color: #fff;
}
.breadcrumb {
	text-align: center;
    background: #f7f7f7;
    padding: 30px 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    font-size: 14px;
}
.breadcrumb span {
	font-family: 'Lora', sans-serif;
	font-style: italic;
	font-size: 22px;
	font-weight: 700;
	text-transform: capitalize;
	color: #cdb280;
}
.symbolsmall span {
	text-transform: none !important;
}
.category-pagerow {
    margin-top: 40px;
}
@media only screen and (max-width: 1520px) and (min-width: 0px) {
	.col-md-12 img {
		width: 100%;
	    height: auto;
    }
}