.blog-post {
	padding-top: 45px; 
}
.related-posts {
	border-bottom: 2px solid #eaeaea;
    border-top: 2px solid #eaeaea;
    padding-bottom: 50px;
    width: 810px;
}
.related-post-item {
	width: 32.3%;
}
#comment-list {
	margin-top: -50px;
	position: absolute;
}
.comment-list {
	border-bottom: 2px solid #eaeaea;
}
.post-widget-title {
	text-align: center;
	font-family: 'Lora', sans-serif;
	font-style: italic;
    font-size: 24px;
    line-height: 30px;
    padding-top: 45px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 1520px) and (min-width: 0px) {
	.related-posts {
    	min-width: initial;
    	width: auto !important;
	}
}
@media screen and (max-width: 620px) and (min-width: 0px) {
	.related-post-item {
		width: 100% !important;
    	margin-bottom: 30px;
	}
	.related-post-item:last-child {
    	margin-bottom: 0 !important;
	}	    
}
