.slider-row {
	height: 650px;
	width: 1500px;
	position: relative;
}
.slider-content {
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -600px;
}
.items-caption {
	height: 100%;
	position: relative;
}
.item-date {
    font-weight: 700;
    color: rgb(219, 219, 219);
    text-transform: uppercase;
    text-align: left;
    line-height: 20px;
    letter-spacing: 0px;
    font-size: 15px;
    margin-top: 200px;
}
.item-subtitle {
	min-width: 600px;
    max-width: 600px;
	font-weight: 700;
    color: rgb(255, 255, 255);
    font-family: Lora;
    font-style: italic;
    visibility: inherit;
    text-align: left;
    line-height: 55px;
    padding: 0px 0px 10px;
    letter-spacing: 0px;
    font-size: 50px;
}
.item-btn-more {
	width: 100%;
	position: absolute;
	margin-bottom: 200px;
	bottom: 0;
}
.item-btn-more button {
	width: 175px;
	height: 42px;
	background-color: transparent;
	border: none;
    display: block;
    padding: 0;
    box-sizing: border-box;
}
.item-btn-more button:focus, .item-btn-more a:focus {
	border: 1px solid #fff;
	outline: none;
}
.item-btn-more a {
	color: #fff;
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
	line-height: 42px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 3px;
    text-decoration: none;
    display: block;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    z-index: 10000;
}
.item-btn-more a:hover {
	background-color: #fff;
	color: #000;
}
.slick-slide, .slick-slide-one, .slick-slide-two, .slick-slide-three {
	height: 650px;
	width: 1500px;
	position: relative;
}
.slick-slide-one:after, .slick-slide-two:after, .slick-slide-three:after {
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center center;
		height: 100%;
		width: 100%;
		opacity: 1;
		z-index: 20;
		display: block;
		content: "";
}
.slick-slide-one:after {
	background-image: url("/images/sliderimg/anariel-post-11.jpg");
}
.slick-slide-two:after {
	background-image: url("/images/sliderimg/anariel-post-12.jpg");
}
.slick-slide-three:after {
	background-image: url("/images/sliderimg/anariel-post-1.jpg");
}
.slick-slide-one:before, .slick-slide-two:before, .slick-slide-three:before  {
	content: "";
	position:absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.35);
}
.slick-dots {
	max-width: 250px;
    max-height: 320px;
    position: absolute;
    background: transparent;
    left: 0; right: 0;
    margin: 0 150px 0 auto;
    top: 50%;
    transform: translateY(-50%);
}
.slick-dots li {
	width: 250px;
    height: 100px;
    background: rgba(0,0,0,0.25);
    opacity: 0.5;
    text-align: left;
    padding: 6px 20px;
    margin: 0 0 10px 0;
    display: block;
}
.slick-dots li:hover, .slick-dots li.slick-active {
	opacity: 1;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #bbb;
}
.slick-dots li button {
    width: 210px;
    height: 80px;
    padding: 0;
    position: relative;
}
.slick-dots li:first-child button:before {
	color: #bbb;
	letter-spacing: 1px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    content: 'Blog,Fashion';
    top: 6px; 
    opacity: 1;
    z-index: 20; 
}
.slick-dots li:first-child button:after {
	font-family: Lora;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 25px;
    content: 'Enjoy the winter time in the city';
    text-align: left;
    top: 30px;
    left: 0; 
    opacity: 1;
    z-index: 20;
    position: absolute;
    display: block; 
}
.slick-dots li button:before {
	color: #bbb;
	letter-spacing: 1px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    content: 'Blog,Fashion';
    top: 6px; 
    opacity: 1;
    z-index: 20; 
}
.slick-dots li button:after {
	font-family: Lora;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 25px;
    content: 'Fashion tips for autumn days';
    text-align: left;
    top: 30px;
    left: 0; 
    opacity: 1;
    z-index: 20;
    position: absolute;
    display: block; 
}
.slick-dots li:last-child button:before {
	color: #bbb;
	letter-spacing: 1px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    content: 'Travels,Lifestyle';
    top: 6px; 
    opacity: 1;
    z-index: 20; 
}
.slick-dots li:last-child button:after {
	font-family: Lora;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 25px;
    content: 'Come with me on a drive to the country';
    text-align: left;
    top: 30px;
    left: 0; 
    opacity: 1;
    z-index: 20;
    position: absolute;
    display: block; 
}
.slick-prev, .slick-next {
	opacity: 0;
}
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}