.tags-cloud a:hover {
	background-color: #cdb280;
}
.tags-cloud a {
	font-size: 10px;
    border-radius: 90px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 3px;
    margin-right: 4px;
    max-height: 28px;
    line-height: 28px;
    display: inline-block;
    padding: 0px 10px;
    background: #bbb;
    color: #fff;    
}