.items-fixedmenu {
	padding-right: 25px;
}
.items-fixedmenu>li:first-child a {
	color: #c5a076;
}
.items-fixedmenu a {
	color: #000;
	height: 56px;
	line-height: 56px;
}
.items-fixedmenu li:hover .dropdown-menu {
	margin-top: 0;
}
.dropdown-fixedmenu:after {
	background-image: url("/images/arrow-down.png");
	top: 24px;
	display: block;
}
